# Ignore everything
*

# Allow specific file types
!*/includes/
!*/includes/**
!/ProjectCompFab/ProjectCompFab/lib/
!/ProjectCompFab/ProjectCompFab/lib/**
!*/resources/
!*/resources/**
!*/shaders/
!*/shaders/**
!*.h
!*.cpp
!*.sln
!*.vcxproj
!*.vcxproj.filters
!*.ui
!*.qrc


# Allow directories (required to ensure Git traverses directories to find allowed files)
!*/
