# Ignore everything
*

# Except .cpp and .h files
!*.cpp
!*.h
!*.sln
!*.vcxproj.user
!*.vcxproj.filters
!*.vcxproj
!*.qrc


# Allow all directories (necessary to track files in subdirectories)
!*/

# Ignore the Debug folder
Debug/

# Ignore Visual Studio specific files and folders
.vs/
*.suo
*.user
bin/
obj/
Release/
*.log
